<md-toolbar class="md-table-toolbar">
    <div class="md-toolbar-tools">
        <h2 md-truncate flex>{{ pageTitle }}</h2>
        <div ng-if="pageTitle == 'Formula Viewer'">
            <md-button class="md-icon-button " ng-click="refreshData() ">
                <md-icon style="color: white ">refresh</md-icon>
            </md-button>
        </div>
        <md-button class="md-raised" ng-if="!isLogin" ng-click="login()">
            Login
        </md-button>
        <md-button class="md-raised" ng-if="isLogin" ng-click="logout()">
            Logout
        </md-button>
    </div>
</md-toolbar>