{% extends 'cms/layout/base.html' %}

{% load static %}
{% load fontawesome %}

{% block extended_head %}
  <script type = "text/javascript"
          src="{% static 'cms/js/paper/index.js' %}">
  </script>
{% endblock %}

{% block breadcrumb %}
  <div>
    <ol class="breadcrumb">
      <li>
        {% fontawesome_icon 'home' color='grey' %}
      </li>
      <li id="breadcrumb-paper" class="active">
        {% fontawesome_icon 'book' color='grey' %}
      </li>
    </ol>
  </div>
{% endblock breadcrumb %}

{% block main_title %}
  <p class="display-section">Paper</p>
{% endblock main_title %}

{% block main_content %}
   <form action="/cms/paper/" method="post">
    {% csrf_token %}
    <ul class="nav nav-pills">
      <li role="presentation" class="pull-left">
        <div class="styled-select slate">
          {{ form.subject }}
        </div>
      </li>
      <li role="presentation" class="pull-left">
        <input type="submit" class="btn btn-default"value="Select" />
      </li>
    </ul>
  </form>

  <a href="/cms/create_paper/">
    <button id="add" type="button" class="btn btn-success new-button"></button>
  </a>

  <table id="items" class="display" width="100%" cellspacing="0">
    <thead class="custom-header">
      <tr>
        <th id="header-year"> </th>
        <th id="header-month"> </th>
        <th id="header-number"> </th>
        <th id="header-no"> </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for paper in papers %}
        <tr>
          <td>{{paper.year}}</td>
          <td>{{paper.get_month_display}}</td>
          <td>{{paper.number}}</td>
          <td>{{paper.no_of_question}}</td>
          <td>
            <ul class="nav nav-pills">
              <li role="presentation">
                <a href="/cms/edit_paper/{{ paper.id }}">
                  {% fontawesome_icon 'edit' color='blue' %}
                </a>
              </li>
              <li role="presentation">
                <a href="/cms/delete_paper/{{ paper.id }}">
                  {% fontawesome_icon 'trash' color='blue' %}
                </a>
              </li>
            </ul>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock main_content %}
