.main-form {
  background: white;
  border-left: solid #d9d9d9;
  border-right: solid #d9d9d9;
  padding: 18px;
}

.custom-inside {
  font-size: 16px;
}

.custom-component {
  padding-top: 18px;
}

.part-form {
  background: #f2f2f2;
  padding: 18px;
}

.custom-asterisk {
  color: red;
}
