.main-form {
  background: #ffffe6;
  border: thick solid #e0ccff;
  padding: 18px;
}

.custom-inside {
  font-size: 16px;
}

.custom-component {
  padding-top: 18px;
}

.part-form {
  background: #ffffcc;
  border: thick solid #cc9966;
  padding: 18px;
}

.custom-asterisk {
  color: red;
}
