.question-title {
  font-size: 18px;
  font-weight: bold;
}

.difficulty-level-display {
  padding-top: 5px;
  width: 120;
  height: 25px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.question-content {
  padding-left: 15px;
}

.selected-highlight {
  background-color: #e0e0d1 !important;
}

.input-box {
  padding-top: 10px;
}
