.question-title {
  font-size: 18px;
  font-weight: bold;
}

.difficulty-level-display {
  padding-top: 5px;
  width: 120;
  height: 25px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.question-content {
  padding-left: 15px;
}

.selected-highlight {
  background-color: #e0e0d1 !important;
}

.input-box {
  padding-top: 10px;
}

.question-concept {
  color: green;
  font-style: italic;
  font-size: 12px;
}

.topic-box {
  border: 2px solid #d1d1e0;
  border-radius: 18px;
  margin: 18px;
  width: 350px;
  height: 180px;
  display: inline-table;
}

.topic-title {
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
}

.concept-display {
  color: #0099ff;
  font-size: 15px;
}

.view-all {
  font-weight: normal !important;
}

.question-formula-content {
  margin-top: 15px;
  padding-left: 15px;
}

.formula {
  margin: 2px;
  background: #cceeff;
}

.formula-content {
  padding-top: 5px;
  font-size: 11px;
  color: #006699;
}
