{% load staticfiles %}
{% load fontawesome %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta charset = "utf-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">

    <title class="title"></title>
    <link rel="icon" href="{% static 'webapp/img/meas_logo.png' %}" type="image/png">

    <!-- JQuery -->
    <script type = "text/javascript"
        src = "{% static 'js/jquery-3.1.1.min.js' %}">
    </script>

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}"
          rel="stylesheet"/>
    <link href="{% static 'css/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css' %}"
          rel="stylesheet"/>
    <script type = "text/javascript"
            src="{% static 'css/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}">
    </script>

    <!-- i18n -->
    <script type = "text/javascript"
            src="{% static 'js/i18n/en.js' %}">
    </script>

    {% fontawesome_stylesheet %}

    <link href="{% static 'webapp/css/layout/base.css' %}"
          rel="stylesheet"/>

    <!-- Extend css and js -->
    {% block extended_head %}{% endblock extended_head %}
  </head>

  <body>
    <div class="row custom-breadcum ">
      <nav class="navbar bg-primary">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li>
              <a href="#" class = "custom-navbar-item">
                <img src="{% static 'webapp/img/meas_logo.png' %}" />
              </a>
            </li>

            <li class="active">
              <a href="#" class = "custom-navbar-item">
                {% fontawesome_icon 'dashboard' color='white' %} Dashboard
              </a>
            </li>

            <li>
              <a href="#" class = "custom-navbar-item">
                {% fontawesome_icon 'bookmark' color='white' %} Topic
              </a>
            </li>

            <li>
              <a href="#" class = "custom-navbar-item">
                {% fontawesome_icon 'book' color='white' %} Adaptive Test
              </a>
            </li>

            <li>
              <a href="#" class = "custom-navbar-item">
                {% fontawesome_icon 'newspaper-o' color='white' %} Contest
              </a>
            </li>

            <li>
              <a href="#" class = "custom-navbar-item">
                {% fontawesome_icon 'mortar-board' color='white' %} LeaderBoard
              </a>
            </li>

            <li>
              <a href="#" class = "custom-navbar-item">
                {% fontawesome_icon 'history' color='white' %} Proficiency
              </a>
            </li>
          </ul>

          {% if is_authenticated %}
            <ul class="nav navbar-nav navbar-right col-sm-2">
              <li>
                <a href="#" class = "custom-navbar-item">
                  {% fontawesome_icon 'user' color='white' %} {{ current_user }}
                </a>
              </li>
              <li>
                <a href="/logout/" class = "custom-navbar-item">
                  {% fontawesome_icon 'sign-out' color='white' %} Sign out
                </a>
              </li>
            </ul>
          {% else %}
            <ul class="nav navbar-nav navbar-right col-sm-2">
              <li>
                <a href="#" class = "custom-navbar-item">
                  {% fontawesome_icon 'registered' color='white' %} Register
                </a>
              </li>
              <li>
                <a href="/login/" class = "custom-navbar-item">
                  {% fontawesome_icon 'user' color='white' %} Login
                </a>
              </li>
            </ul>
          {% endif %}

        </div>

      </nav>

    </div>

    <div class="row container-fluid custom-breadcum">
      <ul class="nav navbar-nav">
        <li>
          {% block breadcrumb %}{% endblock breadcrumb %}
        </li>
      </ul>
    </div>

    <div class="row main-area">
      {% block content %} {% endblock content %}
    </div>

    <div class="row search">
      <div class="col-md-1"></div>

      <div class="col-md-4">
        <hr class="custom-hr">
      </div>

      <div class="col-md-2">
        <p class="text-center title-row">What do you need ?</p>
      </div>
      <div class="col-md-4">
        <hr class="custom-hr">
      </div>

      <div class="col-md-1"></div>
    </div>
    <div class="row search">
      <div class="col-md-2"></div>

      <div class="col-md-2">
        <ul class="nav nav-stacke text-center custom-nav-search">
          <li>
            <img src="{% static 'webapp/img/text.png' %}" />
          </li>

          <li>
            Text search
          </li>

          <li>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    {% fontawesome_icon 'search' color='black' %} Search
                  </button>
                </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-md-1"></div>

      <div class="col-md-2">
        <ul class="nav nav-stacke text-center custom-nav-search">
          <li class="text-center">
            <img src="{% static 'webapp/img/formula.png' %}" />
          </li>

          <li>
            Formula search
          </li>

          <li>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    {% fontawesome_icon 'search' color='black' %} Search
                  </button>
                </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-md-1"></div>

       <div class="col-md-2">
         <ul class="nav nav-stacke text-center custom-nav-search">
          <li class="text-center">
            <img src="{% static 'webapp/img/tag.png' %}" />
          </li>

          <li>
            Tag search
          </li>

          <li>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    {% fontawesome_icon 'search' color='black' %} Search
                  </button>
                </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-md-2"></div>

    </div>

    <div class="custom-footer custom-footer-border">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-4">
              <h3>Location</h3>
              <hr class="custom-footer-hr">
              <p>NANYAN TECHNOLOGICAL UNIVERSITY
              </p>
          </div>
          <div class="col-md-4">
              <h3>Social Network</h3>
              <hr class="custom-footer-hr">
              <ul class="list-inline">
                  <li>
                      <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook fa-inverse"></i></a>
                  </li>
                  <li>
                      <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus fa-inverse"></i></a>
                  </li>
                  <li>
                      <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter fa-inverse"></i></a>
                  </li>
                  <li>
                      <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin fa-inverse"></i></a>
                  </li>
                  <li>
                      <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble fa-inverse"></i></a>
                  </li>
              </ul>
          </div>
          <div class="col-md-4">
              <h3>About us</h3>
              <hr class="custom-footer-hr">
              <p>Students</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row custom-footer">
      <hr class="custom-footer-hr">
      <p class="text-center">Copyright © 2016 NTU - DMAL</p>
    </div>
  </body>
</html>
