{% load staticfiles %}
{% load fontawesome %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta charset = "utf-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">

    <title class="title"></title>
    <link rel="icon" href="{% static 'webapp/img/meas_logo.png' %}" type="image/png">

    <!-- JQuery -->
    <script type = "text/javascript"
        src = "{% static 'js/jquery-3.1.1.min.js' %}">
    </script>

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}"
          rel="stylesheet"/>
    <link href="{% static 'css/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css' %}"
          rel="stylesheet"/>
    <script type = "text/javascript"
            src="{% static 'css/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}">
    </script>

    <!-- i18n -->
    <script type = "text/javascript"
            src="{% static 'js/i18n/en.js' %}">
    </script>

    {% fontawesome_stylesheet %}

    <link href="{% static 'webapp/css/layout/base.css' %}"
          rel="stylesheet"/>

    <script type = "text/javascript"
            src="{% static 'webapp/js/layout/base.js' %}">
    </script>

   <!-- Scripts needed by CodeCogs Equation Editor -->
    <link rel="stylesheet" type="text/css" href="http://latex.codecogs.com/css/equation-embed.css" />

    <script type="text/javascript" src="http://latex.codecogs.com/js/eq_config.js">
    </script>

    <script type="text/javascript" src="http://latex.codecogs.com/js/eq_editor-lite-18.js">
    </script>

    <link href="{% static 'mathquill-0.10.1/mathquill.css' %}"
          rel="stylesheet"/>
    <script type = "text/javascript"
            src="{% static 'mathquill-0.10.1/mathquill.js' %}">
    </script>

    <style type="text/css">
      #EqnEditor { text-align:left; }
    </style>

    <script type="text/javascript"
            src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_HTMLorMML">
    </script>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        showProcessingMessages: false,
        tex2jax: { inlineMath: [['$','$'],['\\(','\\)']] }
      });
    </script>

    </script>

    <script>
      var Preview = {
        delay: 150,        // delay after keystroke before updating
        preview: null,     // filled in by Init below
        buffer: null,      // filled in by Init below
        timeout: null,     // store setTimout id
        mjRunning: false,  // true when MathJax is processing
        mjPending: false,  // true when a typeset has been queued
        oldText: null,     // used to check if an update is needed
        //
        //  Get the preview and buffer DIV's
        //
        Init: function () {
          this.preview = document.getElementById("MathPreview");
          this.buffer = document.getElementById("MathBuffer");
        },
        //
        //  Switch the buffer and preview, and display the right one.
        //  (We use visibility:hidden rather than display:none since
        //  the results of running MathJax are more accurate that way.)
        //
        SwapBuffers: function () {
          var buffer = this.preview, preview = this.buffer;
          this.buffer = buffer; this.preview = preview;
          buffer.style.visibility = "hidden"; buffer.style.position = "absolute";
          preview.style.position = ""; preview.style.visibility = "";
        },
        //
        //  This gets called when a key is pressed in the textarea.
        //  We check if there is already a pending update and clear it if so.
        //  Then set up an update to occur after a small delay (so if more keys
        //    are pressed, the update won't occur until after there has been
        //    a pause in the typing).
        //  The callback function is set up below, after the Preview object is set up.
        //
        Update: function () {
          if (this.timeout) {clearTimeout(this.timeout)}
          this.timeout = setTimeout(this.callback,this.delay);
        },
        //
        //  Creates the preview and runs MathJax on it.
        //  If MathJax is already trying to render the code, return
        //  If the text hasn't changed, return
        //  Otherwise, indicate that MathJax is running, and start the
        //    typesetting.  After it is done, call PreviewDone.
        //
        CreatePreview: function () {
          Preview.timeout = null;
          if (this.mjPending) return;
          var text = document.getElementById("search-box").value;
          if (text === this.oldtext) return;
          if (this.mjRunning) {
            this.mjPending = true;
            MathJax.Hub.Queue(["CreatePreview",this]);
          } else {
            this.buffer.innerHTML = this.oldtext = "$" + text + "$";
            this.mjRunning = true;
            MathJax.Hub.Queue(
        ["Typeset",MathJax.Hub,this.buffer],
        ["PreviewDone",this]
            );
          }
        },
        //
        //  Indicate that MathJax is no longer running,
        //  and swap the buffers to show the results.
        //
        PreviewDone: function () {
          this.mjRunning = this.mjPending = false;
          this.SwapBuffers();
        }
      };
      //
      //  Cache a callback to the CreatePreview action
      //
      Preview.callback = MathJax.Callback(["CreatePreview",Preview]);
      Preview.callback.autoReset = true;  // make sure it can run more than once
    </script>
    <!-- Extend css and js -->
    {% block extended_head %}{% endblock extended_head %}
  </head>

  <body>
    <div class="row custom-breadcum">
      <nav class="navbar bg-primary">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li>
              <a href="/" class = "custom-navbar-item dr-hui">
                Dr. Hui Mathematics
              </a>
            </li>

            <li>
              <a id="menu-topic" href="/topic/" class = "custom-navbar-item">
                {% fontawesome_icon 'bookmark' color='white' %}
              </a>
            </li>

            <li>
              <a id="menu-quiz" href="#" class = "custom-navbar-item">
                {% fontawesome_icon 'book' color='white' %}
              </a>
            </li>

            <li>
              <a id="menu-contest" href="#" class = "custom-navbar-item">
                {% fontawesome_icon 'newspaper-o' color='white' %}
              </a>
            </li>

            <li>
              <a id="menu-leaderboard" href="#" class = "custom-navbar-item">
                {% fontawesome_icon 'mortar-board' color='white' %}
              </a>
            </li>

            <li>
              <a id="menu-proficiency" href="#" class = "custom-navbar-item">
                {% fontawesome_icon 'history' color='white' %}
              </a>
            </li>
          </ul>

          {% if is_authenticated %}
            <ul class="nav navbar-nav navbar-right col-sm-2">
              <li>
                <a href="/edit_user/" class = "custom-navbar-item">
                  {% fontawesome_icon 'user' color='white' %} {{ current_user }}
                </a>
              </li>
              <li>
                <a id="sign-out" href="/logout/" class = "custom-navbar-item">
                  {% fontawesome_icon 'sign-out' color='white' %}
                </a>
              </li>
            </ul>
          {% else %}
            <ul class="nav navbar-nav navbar-right col-sm-2">
              <li>
                <a id="register" href="/create_user/" class = "custom-navbar-item">
                  {% fontawesome_icon 'registered' color='white' %}
                </a>
              </li>
              <li>
                <a id="login" href="/login/" class = "custom-navbar-item">
                  {% fontawesome_icon 'user' color='white' %}
                </a>
              </li>
            </ul>
          {% endif %}

        </div>

      </nav>

    </div>

    <div class="row container-fluid custom-breadcum">
      {% block breadcrumb %}{% endblock breadcrumb %}
    </div>

    <div class="row main-area">
      {% block content %} {% endblock content %}
    </div>

    <div class="row search">
      <div class="col-md-1"></div>

      <div class="col-md-4">
        <hr class="custom-hr">
      </div>

      <div class="col-md-2">
        <p class="text-center title-row">Search Questions</p>
      </div>
      <div class="col-md-4">
        <hr class="custom-hr">
      </div>

      <div class="col-md-1"></div>
    </div>

    <div class="row search text-center">
      <div class="col-md-3"></div>

      <div class="col-md-2">
        <img src="{% static 'webapp/img/text.png' %}" />
      </div>

      <div class="col-md-2">
        <img src="{% static 'webapp/img/tag.png' %}" />
      </div>

      <div class="col-md-2">
        <img src="{% static 'webapp/img/formula.png' %}" />
      </div>

      <div class="col-md-3"></div>
    </div>

    <div class="row search">
      <div class="col-md-3"></div>

      <div class="col-md-6">
        <ul class="nav nav-stacke text-center custom-nav-search">
          <li>
            <div class="btn-group btn-group-justified">
              <button id="btn-1" class="btn btn-default latex-btn">$\frac{x}{y}$</button>
              <button id="btn-2" class="btn btn-default latex-btn">$e^x$</button>
              <button id="btn-3" class="btn btn-default latex-btn">$x^2$</button>
              <button id="btn-4" class="btn btn-default latex-btn">${x}_{2}$</button>
              <button id="btn-5" class="btn btn-default latex-btn">$\sqrt{x}$</button>
              <button id="btn-6" class="btn btn-default latex-btn">$\sqrt[3]{x}$</button>
              <button id="btn-7" class="btn btn-default latex-btn-long">$\int_{-1}^{1} xdx$</button>
              <button id="btn-8" class="btn btn-default latex-btn-long">$\sum_{i=0}^{n} {a}_{n}$</button>
              <button id="btn-9" class="btn btn-default latex-btn">$\overrightarrow{AB}$</button>
            </div>
          </li>
          <li>
            <div class="btn-group btn-group-justified">
              <button id="btn-10" class="btn btn-default latex-btn">$\sin x$</button>
              <button id="btn-11" class="btn btn-default latex-btn">$\cos x$</button>
              <button id="btn-12" class="btn btn-default latex-btn">$\tan x$</button>
              <button id="btn-13" class="btn btn-default latex-btn">$\cot x$</button>
              <button id="btn-14" class="btn btn-default latex-btn-long">$\lim_(n \to \infty)$</button>
              <button id="btn-15" class="btn btn-default latex-btn">$\log x$</button>
              <button id="btn-16" class="btn btn-default latex-btn">$\ln x$</button>
            </div>
          </li>
          <li>
            <div class="input-group">
              <input id="search-box" type="text" class="form-control" placeholder=
              "Please enter something to search !">
                <span class="input-group-btn">
                  <a class="btn btn-default" type="button"
                    href="">
                    {% fontawesome_icon 'search' color='black' %} Search
                  </a>
                </span>

            </div>
          </li>
          <li>
            <div id="MathPreview"></div>
            <div id="MathBuffer"></div>
            <script>
              Preview.Init();
            </script>
          </li>

          <li>

          </li>
        </ul>

      </div>

      <div class="col-md-3"></div>

    </div>

    <div class="custom-footer custom-footer-border">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-4">
              <h3>Location</h3>
              <hr class="custom-footer-hr">
              <p>NANYAN TECHNOLOGICAL UNIVERSITY
              </p>
          </div>
          <div class="col-md-4">
              <h3>Social Network</h3>
              <hr class="custom-footer-hr">
              <ul class="list-inline">
                  <li>
                      <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook fa-inverse"></i></a>
                  </li>
                  <li>
                      <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus fa-inverse"></i></a>
                  </li>
                  <li>
                      <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter fa-inverse"></i></a>
                  </li>
                  <li>
                      <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin fa-inverse"></i></a>
                  </li>
                  <li>
                      <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble fa-inverse"></i></a>
                  </li>
              </ul>
          </div>
          <div class="col-md-4">
              <h3>About us</h3>
              <hr class="custom-footer-hr">
              <p>Students</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row custom-footer">
      <hr class="custom-footer-hr">
      <p class="text-center">Copyright © 2016 NTU - DMAL</p>
    </div>
  </body>
</html>
