{% load staticfiles %}
{% load fontawesome %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta charset = "utf-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">

    <title class="title"></title>

    <!-- JQuery -->
    <script type = "text/javascript"
        src = "{% static 'webapp/js/jquery-3.1.1.min.js' %}">
    </script>

    <!-- Bootstrap -->
    <link href="{% static 'webapp/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'webapp/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css' %}"
          rel="stylesheet" >
    <script type = "text/javascript"
            src="{% static 'webapp/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}">
    </script>

    <!-- i18n -->
    <script type = "text/javascript"
            src="{% static 'webapp/js/i18n/en.js' %}">
    </script>

    {% fontawesome_stylesheet %}

    <link href="{% static 'webapp/css/layout/base.css' %}"
          rel="stylesheet">

    <!-- Extend css and js -->
    {% block extended_head %}{% endblock extended_head %}
  </head>

  <body>
    <div class="row">
      <nav class="navbar bg-primary">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li>
              <a href="#" class = "custom-navbar-item">
                <img src="{% static 'webapp/img/meas_logo.png' %}" />
              </a>
            </li>

            <li class="active">
              <a href="#" class = "custom-navbar-item">
                {% fontawesome_icon 'dashboard' color='white' %} Dashboard
              </a>
            </li>

            <li>
              <a href="#" class = "custom-navbar-item">
                {% fontawesome_icon 'book' color='white' %} Adaptive Test
              </a>
            </li>

            <li>
              <a href="#" class = "custom-navbar-item">
                {% fontawesome_icon 'newspaper-o' color='white' %} Contest
              </a>
            </li>

            <li>
              <a href="#" class = "custom-navbar-item">
                {% fontawesome_icon 'mortar-board' color='white' %} LeaderBoard
              </a>
            </li>

            <li>
              <a href="#" class = "custom-navbar-item">
                {% fontawesome_icon 'history' color='white' %} Proficiency
              </a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right col-sm-2">
            <li>
              <a href="#" class = "custom-navbar-item">
                {% fontawesome_icon 'registered' color='white' %} Register
              </a>
            </li>
            <li>
              <a href="#" class = "custom-navbar-item">
                {% fontawesome_icon 'user' color='white' %} Login
              </a>
            </li>

          </ul>

        </div>

      </nav>

    </div>

    <div class="row container-fluid">
      <ul class="nav navbar-nav">
        <li>
          {% block breadcrumb %}{% endblock breadcrumb %}
        </li>
      </ul>
    </div>

    <section id="mathematics">
      <div class="row mathematics">
        <div class="col-md-2"></div>

        <div class="col-md-2">
          <div class="thumbnail custom-thumbnail">
            <img src="{% static 'webapp/img/zero_level_additional_math.jpg' %}" />
            <div class="caption text-center" >
              <h4>O-level Additional Mathematics</h4>
            </div>
          </div>
        </div>

         <div class="col-md-2">
          <div class="thumbnail custom-thumbnail">
            <img src="{% static 'webapp/img/a_level_math.jpg' %}" />
            <div class="caption text-center">
              <h4>A-level Mathematics</h4>
            </div>
          </div>
        </div>

         <div class="col-md-2">
          <div class="thumbnail custom-thumbnail">
            <img src="{% static 'webapp/img/elementary_math.jpg' %}" />
            <div class="caption text-center">
              <h4>Elementary Mathematics</h4>
            </div>
          </div>
        </div>

         <div class="col-md-2">
          <div class="thumbnail custom-thumbnail">
            <img src="{% static 'webapp/img/psle_math.jpg' %}" />
            <div class="caption text-center">
              <h4>PSLE Mathematics</h4>
            </div>
          </div>
        </div>

        <div class="col-md-2"></div>

      </div>
    </section>

    <section id="search">
      <div class="row search">
        <div class="col-md-2"></div>

        <div class="col-md-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Text search...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Search</button>
              </span>
          </div>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Formula search...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Search</button>
            </span>
          </div>
        </div>

        <div class="col-md-1"></div>

        <div class="col-md-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Tag search...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Search</button>
            </span>
          </div>
        </div>

        <div class="col-md-2"></div>

      </div>
    </section>

    <div class="custom-footer text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
              <h3>Location</h3>
              <p>Nanyan Technological University
              </p>
          </div>
          <div class="col-md-4">
              <h3>Social</h3>
              <ul class="list-inline">
                  <li>
                      <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook fa-inverse"></i></a>
                  </li>
                  <li>
                      <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus fa-inverse"></i></a>
                  </li>
                  <li>
                      <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter fa-inverse"></i></a>
                  </li>
                  <li>
                      <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin fa-inverse"></i></a>
                  </li>
                  <li>
                      <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble fa-inverse"></i></a>
                  </li>
              </ul>
          </div>
          <div class="col-md-4">
              <h3>About us</h3>
              <p>Students</p>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
