{% extends 'cms/layout/base.html' %}

{% load static %}
{% load fontawesome %}

{% block extended_head %}
  <link href="{% static 'cms/css/formula/create.css' %}"
        rel="stylesheet"/>
  <script type = "text/javascript"
          src="{% static 'cms/js/formula/edit.js' %}">
  </script>

  <script>
    var Preview = {
      delay: 150,        // delay after keystroke before updating
      preview: null,     // filled in by Init below
      buffer: null,      // filled in by Init below
      timeout: null,     // store setTimout id
      mjRunning: false,  // true when MathJax is processing
      mjPending: false,  // true when a typeset has been queued
      oldText: null,     // used to check if an update is needed
      //
      //  Get the preview and buffer DIV's
      //
      Init: function () {
        this.preview = document.getElementById("MathPreview");
        this.buffer = document.getElementById("MathBuffer");
      },
      //
      //  Switch the buffer and preview, and display the right one.
      //  (We use visibility:hidden rather than display:none since
      //  the results of running MathJax are more accurate that way.)
      //
      SwapBuffers: function () {
        var buffer = this.preview, preview = this.buffer;
        this.buffer = buffer; this.preview = preview;
        buffer.style.visibility = "hidden"; buffer.style.position = "absolute";
        preview.style.position = ""; preview.style.visibility = "";
      },
      //
      //  This gets called when a key is pressed in the textarea.
      //  We check if there is already a pending update and clear it if so.
      //  Then set up an update to occur after a small delay (so if more keys
      //    are pressed, the update won't occur until after there has been
      //    a pause in the typing).
      //  The callback function is set up below, after the Preview object is set up.
      //
      Update: function () {
        if (this.timeout) {clearTimeout(this.timeout)}
        this.timeout = setTimeout(this.callback,this.delay);
      },
      //
      //  Creates the preview and runs MathJax on it.
      //  If MathJax is already trying to render the code, return
      //  If the text hasn't changed, return
      //  Otherwise, indicate that MathJax is running, and start the
      //    typesetting.  After it is done, call PreviewDone.
      //
      CreatePreview: function () {
        Preview.timeout = null;
        if (this.mjPending) return;
        var text = document.getElementById("id_content").value;
        if (text === this.oldtext) return;
        if (this.mjRunning) {
          this.mjPending = true;
          MathJax.Hub.Queue(["CreatePreview",this]);
        } else {
          this.buffer.innerHTML = this.oldtext = "$" + text + "$";
          this.mjRunning = true;
          MathJax.Hub.Queue(
      ["Typeset",MathJax.Hub,this.buffer],
      ["PreviewDone",this]
          );
        }
      },
      //
      //  Indicate that MathJax is no longer running,
      //  and swap the buffers to show the results.
      //
      PreviewDone: function () {
        this.mjRunning = this.mjPending = false;
        this.SwapBuffers();
      }
    };
    //
    //  Cache a callback to the CreatePreview action
    //
    Preview.callback = MathJax.Callback(["CreatePreview",Preview]);
    Preview.callback.autoReset = true;  // make sure it can run more than once
  </script>
{% endblock %}

{% block breadcrumb %}
  <div>
    <ol class="breadcrumb custom-navbar-item">
      <li>
        <a id="breadcrumb-home" href="#">
          {% fontawesome_icon 'home' color='blue' %}
        </a>
      </li>
      <li id="breadcrumb-formula" class="active">
         {% fontawesome_icon 'calculator' color='blue' %}
      </li>
    </ol>
  </div>
{% endblock breadcrumb %}

{% block main_content %}
  <form action="/cms/api_update_formula/" method="post">
    {% csrf_token %}
    {{ form.id }}
    <div class="row">
      <div class="col-sm-4">
        <ul class="data-field-container" type="none">
          <li class="data-field text-right">
            Name
          </li>
          <li class="data-field text-right">
            Content
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <ul class="data-input-container" type="none">
          <li class="data-input">
            <div class="input-group">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default">
                  {% fontawesome_icon 'user' large=True %}
                </button>
              </div>
              {{ form.name }}
            </div>
          </li>
          <li class="data-input">
            <div class="input-group">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default">
                  {% fontawesome_icon 'book' large=True %}
                </button>
              </div>
              {{ form.content }}
            </div>
          </li>
          <li class="data-input">
            <div id="MathPreview"></div>
            <div id="MathBuffer"></div>
            <script>
              Preview.Init();
            </script>
          </li>
          <li class="data-input pull-right">
            <div class="btn-group" role="group" aria-label="...">
              <input type="submit" value="Save" class="center-block btn btn-default"/>
              <button type="button" class="btn btn-default">Cancel</button>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </form>
{% endblock main_content %}
