.custom-blockquote {
  background: #e0e0d1;
  border-left: 18px solid #ff9900;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
.custom-blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.custom-blockquote p {
  display: inline;
}
.blockquote-title {
  color: red;
}

.blockquote-text {
  font-size: 14px;
  margin-left: 45px;
}
