.table-title p{
  font-weight: bold;
  font-size: 18px;
  font-family: Palatino, 'Palatino Linotype',  'Palatino LT STD', 'Book Antiqua', Georgia, serif;
}

.table-td-title {
  width: 35%;
}

.table-td-content {
  width: 65%;
}
