{% extends 'cms/layout/ce.html' %}

{% load static %}
{% load fontawesome %}

{% block extended_head %}
  <link href="{% static 'cms/css/layout/ce.css' %}"
        rel="stylesheet"/>
{% endblock extended_head %}

{% block main_title %}
  <p class="display-section">Create new Concept</p>
{% endblock main_title %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li>
      <a>
        {% fontawesome_icon 'home' color='grey' %}
      </a>
    </li>
    <li>
      {% fontawesome_icon 'archive' color='grey' %}
      Concept
    </li>
    <li class="active">
      {% fontawesome_icon 'plus' color='grey' %}
      Create
    </li>
  </ol>
{% endblock breadcrumb %}

{% block main_content %}
  <form action="/cms/api_create_concept/" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-sm-4">
        <ul class="data-field-container" type="none">
          <li class="data-field text-right">
            Name
          </li>
          <li class="data-field text-right">
            Description
          </li>
          <li class="data-field text-right">
            Order
          </li>
          <li class="data-field text-right">
            Topic
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <ul class="data-input-container" type="none">
          <li class="data-input">
            <div class="input-group">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default">
                  {% fontawesome_icon 'archive' large=True %}
                </button>
              </div>
              {{ form.name }}
            </div>
          </li>
          <li class="data-input">
            <div class="input-group">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default">
                  {% fontawesome_icon 'paragraph' large=True %}
                </button>
              </div>
              {{ form.description }}
            </div>
          </li>
          <li class="data-input">
            <div class="input-group">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default">
                  {% fontawesome_icon 'list-ol' large=True %}
                </button>
              </div>
              {{ form.order }}
            </div>
          </li>
          <li class="data-input">
            <div class="input-group">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default">
                  {% fontawesome_icon 'folder' large=True %}
                </button>
              </div>
              <div class="styled-select slate">
                {{ form.topic }}
              </div>
            </div>
          </li>
          <li class="data-input">
            <h4 data-toggle="collapse" href=".link-formset" aria-expanded="false" aria-controls="link-formset">
             <a>
               {% fontawesome_icon 'key' color='blue' %}
               Key points
             </a>
            </h4>
            {{ formset.management_form }}
            {% for sform in formset %}
             <div class="link-formset">
               {{ sform.name }}
                 {% if sform.name.errors %}
                     {% for error in sform.name.errors %}
                         {{ error|escape }}
                    {% endfor %}
                 {% endif %}
               {{ sform.content }}
                 {% if sform.content.errors %}
                     {% for error in sform.content.errors %}
                         {{ error|escape }}
                     {% endfor %}
                 {% endif %}
             </div>
            {% endfor %}
          </li>
          <li class="data-input pull-right">
            <div class="btn-group" role="group" aria-label="...">
              <input type="submit" value="Save" class="center-block btn btn-default"/>
              <a type="button" class="btn btn-default"
                href="/cms/concept/">
                Cancel
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </form>
{% endblock main_content %}
