{% extends 'cms/layout/ce.html' %}

{% load static %}
{% load fontawesome %}

{% block breadcrumb %}
  <div>
    <ol class="breadcrumb custom-navbar-item">
      <li>
        <a id="breadcrumb-home" href="#">
          {% fontawesome_icon 'home' color='blue' %}
        </a>
      </li>
      <li>
        <a id="breadcrumb-topic">
          {% fontawesome_icon 'bookmark' color='blue' %}
        </a>
      </li>
      <li>
        <a id="breadcrumb-create" class="active">
         {% fontawesome_icon 'edit' color='blue' %}
        </a>
      </li>
    </ol>
  </div>
{% endblock breadcrumb %}

{% block content %}
  <div class="form-style-6">

    <h1>Concept Info</h1>
    <form action="/cms/api_create_concept/" method="post">
      {% csrf_token %}
      {{ form.name }}
      {{ form.description }}
      {{ form.topic }}

      <h4 data-toggle="collapse" href=".link-formset" aria-expanded="false" aria-controls="link-formset">
        <a>
          {% fontawesome_icon 'key' color='blue' %}
          Key points
        </a>
      </h4>
      {{ formset.management_form }}
      {% for sform in formset %}
        <div class="link-formset">
          {{ sform.name }}
            {% if sform.name.errors %}
                {% for error in sform.name.errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}
          {{ sform.content }}
            {% if sform.content.errors %}
                {% for error in sform.content.errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}
        </div>
        <hr>
      {% endfor %}

      <input type="submit" value="Save" />
    </form>
  </div>
{% endblock content %}
