{% extends 'cms/topic/index.html' %}

{% load static %}
{% load fontawesome %}

{% block extended_head %}
  <script type = "text/javascript"
          src="{% static 'cms/js/concept/edit.js' %}">
  </script>
  <link href="{% static 'cms/css/concept/edit.css' %}"
        rel="stylesheet"/>
{% endblock %}

{% block breadcrumb %}
  <div>
    <ol class="breadcrumb custom-navbar-item">
      <li>
        <a id="breadcrumb-home" href="#">
          {% fontawesome_icon 'home' color='blue' %}
        </a>
      </li>
      <li>
        <a id="breadcrumb-topic">
          {% fontawesome_icon 'bookmark' color='blue' %}
        </a>
      </li>
      <li>
        <a id="breadcrumb-edit" class="active">
         {% fontawesome_icon 'edit' color='blue' %}
        </a>
      </li>
    </ol>
  </div>
{% endblock breadcrumb %}

{% block content %}
  <div class="form-style-6">

    <h1>Concept Info</h1>
    <form action="/cms/api_update_concept/" method="post">
      {% csrf_token %}
      {{ form.id }}
      {{ form.name }}
      {{ form.description }}
      {{ form.topic }}
      <input type="submit" value="Update" />
    </form>
  </div>
{% endblock content %}
