<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <title>Question/Solution Editor</title>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./jspm_packages/github/angular/bower-material@1.1.3/angular-material.css" />
    <link href="./jspm_packages/npm/angular-material-data-table@0.10.10/dist/md-data-table.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./style/app.css" />
    <link rel="stylesheet" href="./jspm_packages/npm/katex@0.7.1/dist/katex.min.css" />
    <script src="./jspm_packages/npm/katex@0.7.1/dist/katex.min.js"></script>
    <script src="./jspm_packages/npm/katex@0.7.1/dist/contrib/auto-render.min.js"></script>
</head>

<body ng-cloak ng-controller="AppController" layout="column" layout-fill>
    <div ng-controller="LatexFormController" id="parentEl">
        <div ng-controller="DataEditController">
            <div ng-include src="'toolbar.html'"></div>
            <md-content>
                <div layout="column" layout-align="start center" layout-fill>
                    <div layout="column" style="width: 80%" layout-padding>
                        <md-card>
                            <md-card-content>
                                <form name="objectEditor" ng-submit="objectEditor.$valid && getObject()">
                                    <div layout="column">
                                        <h3>Get Object</h3>
                                        <md-input-container>
                                            <label>Data Id</label>
                                            <input name="objectId" type="text" ng-model="objectId" required>
                                            <div ng-messages="objectEditor.objectId.$error">
                                                <div ng-message="required">This field is required.</div>
                                            </div>
                                        </md-input-container>
                                        <h3>Data Type</h3>
                                        <md-input-container>
                                            <md-radio-group layout="row" name="objectType" ng-model="objectType" required layout-xs="column">
                                                <md-radio-button value="question" class="md-primary">Question</md-radio-button>
                                                <md-radio-button value="solution" class="md-primary">Solution</md-radio-button>
                                                <md-radio-button value="keypoint" class="md-primary">Keypoint</md-radio-button>
                                            </md-radio-group>
                                            <div ng-messages="objectEditor.objectType.$error">
                                                <div ng-message="required">This field is required.</div>
                                            </div>
                                        </md-input-container>
                                        <md-button type="submit" class="md-raised md-primary">Get Object</md-button>
                                    </div>
                                </form>
                            </md-card-content>
                        </md-card>
                    </div>
                    <div layout="column" style="width: 80%" layout-padding>
                        <md-card>
                            <md-card-content>
                                <h3>Edit Object</h3>
                                <form ng-submit="updateObject()">
                                    <div layout="column">
                                        <md-input-container>
                                            <label>Data Content</label>
                                            <textarea id="rawLatex" name="rawLatex" rows="5" md-select-on-focus ng-model="formulaData.rawLatex"></textarea>
                                        </md-input-container>
                                        <div layout="column">
                                            <md-button class="md-raised md-primary" ng-click="displayLatexDialog($event)">Insert Symbol</md-button>
                                        </div>
                                        <div ng-if="formulaData.rawLatex">
                                            <h3>Preview:</h3>
                                            <div katex auto-render bind=formulaData.rawLatex></div>
                                        </div>
                                        <md-button type="submit" class="md-raised md-primary">Update</md-button>
                                    </div>
                                </form>
                            </md-card-content>
                        </md-card>
                    </div>
                </div>

            </md-content>
        </div>
    </div>

    <script src="jspm_packages/system.js " type="text/javascript "></script>
    <script src="config.js " type="text/javascript "></script>
    <script type="text/javascript ">
        System
            .import('src/boot/boot')
            .catch(console.error.bind(console)); // make sure any errors print to console
    </script>

</body>

</html>