<div layout="column" class="dialog-container" layout-align="start scretch">
    <md-dialog aria-label="MathPreview">
        <div layout="column" layout-fill>
            <form ng-cloak>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2 md-truncate flex>Math Preview</h2>
                        <md-button class="md-icon-button" ng-click="cancel()">
                            <md-icon>close</md-icon>
                        </md-button>
                    </div>
                </md-toolbar>

                <md-dialog-content>
                    <div class="md-dialog-content">
                        <div id="formula_preview">
                            <katex auto-render bind=formulaData.latexStr>
                            </katex>
                            <div>
                                <pre>{{ formulaData.mathmlStr }}</pre>
                            </div>
                        </div>
                    </div>
                </md-dialog-content>

                <div layout="row" layout-align="end start">
                    <md-button class="md-raised md-primary" ng-click="confirm()">
                        Insert Formula
                    </md-button>
                </div>
            </form>
        </div>
    </md-dialog>
</div>