.custom-nav-stacked {
  background: #d9d9d9;
  border-right: thick solid #ff751a;
}

.main-section {
  background-color: #337AB7;
  font-size: 18px;
  font-family: Palatino, 'Palatino Linotype',  'Palatino LT STD', 'Book Antiqua', Georgia, serif;
  color: white;
  padding: 10px;
}

.custom-active{
  background-color: #6699ff;
  color: white;
}

.display-section {
  font-size: 27px;
  font-family: Palatino, 'Palatino Linotype',  'Palatino LT STD', 'Book Antiqua', Georgia, serif;
}

.custom-center-area {
    border-right: thick solid #ff751a;
}

.left-panel{
  background: #d9d9d9;
  border-right: thick solid #ff751a;
  overflow: scroll;
  height: 500px;
}

.question-title {
  font-size: 18px;
  font-weight: bold;
}

.difficulty-level-display {
  padding-top: 5px;
  width: 120;
  height: 25px;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.question-content {
  padding-left: 15px;
}

.selected-highlight {
  background-color: #e0e0d1 !important;
}

.highlight-concept {
  padding-left: 15px;
  font-size: 18px;
  font-weight: bold;
  color: red;
}

.question-concept {
  color: green;
  font-style: italic;
  font-size: 12px;
}
