{% extends 'webapp/layout/base.html' %}

{% load static %}
{% load fontawesome %}

{% block extended_head %}
  <link href="{% static 'webapp/css/dashboard/index.css' %}"
        rel="stylesheet"/>
{% endblock %}

{% block breadcrumb %}
  <div id="w3m">
    <ol class="breadcrumb custom-navbar-item">
      <li>
        <a href="#">
          {% fontawesome_icon 'dashboard' color='blue' %} Dr. Hui
        </a>
      </li>
      <li class="active">
         {% fontawesome_icon 'home' color='blue' %} Home
      </li>
    </ol>
  </div>
{% endblock breadcrumb %}

{% block content %}
  <div class="row mathematics">
    <div class="col-md-2"></div>

    <div class="col-md-2">
      <div class="panel panel-primary">
        <div class="panel-heading text-center">Additional Mathematics</div>
        <div class="panel-body">
          <content></content>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="panel panel-primary">
        <div class="panel-heading text-center">O-level Additional Mathematics</div>
        <div class="panel-body">
          <content></content>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="panel panel-primary">
        <div class="panel-heading text-center">Elementary Mathematics</div>
        <div class="panel-body">
          <content></content>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="panel panel-primary">
        <div class="panel-heading text-center">PSLE Mathematics</div>
        <div class="panel-body">
          <content></content>
        </div>
      </div>
    </div>

    <div class="col-md-2"></div>

  </div>

{% endblock content %}
