{% load staticfiles %}
{% load fontawesome %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta charset = "utf-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">

    <title class="title"></title>
    <link rel="icon" href="{% static 'cms/img/meas_logo.png' %}" type="image/png">

    {% fontawesome_stylesheet %}

    <!-- JQuery -->
    <script type = "text/javascript"
        src = "{% static 'js/jquery-3.1.1.min.js' %}">
    </script>
    <script type = "text/javascript"
        src = "{% static 'js/jquery.formset.js' %}">
    </script>

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}"
          rel="stylesheet"/>
    <link href="{% static 'css/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css' %}"
          rel="stylesheet"/>
    <script type = "text/javascript"
            src="{% static 'css/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}">
    </script>

    <!-- i18n -->
    <script type = "text/javascript"
            src="{% static 'js/i18n/en.js' %}">
    </script>

    <!-- Datatables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.12/datatables.min.css"/>

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.12/datatables.min.js"></script>

    <!--MathQuill -->
    <link href="{% static 'mathquill-0.10.1/mathquill.css' %}"
          rel="stylesheet"/>
    <script type = "text/javascript"
            src="{% static 'mathquill-0.10.1/mathquill.js' %}">
    </script>

    <!--MathJax -->
    <script type="text/javascript"
            src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_HTMLorMML">
    </script>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        showProcessingMessages: false,
        tex2jax: { inlineMath: [['$','$'],['\\(','\\)']] }
      });
    </script>

    <link href="{% static 'cms/css/layout/base.css' %}"
          rel="stylesheet"/>

    <script type = "text/javascript"
            src="{% static 'cms/js/layout/base.js' %}">
    </script>

    <!-- Extend css and js -->
    {% block extended_head %}{% endblock extended_head %}
  </head>

  <body>
    {% include "cms/layout/nav_header.html" %}

    <div class="row">
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <a  href="/cms/topic/">
            <button id="manage-topic" type="button" class="btn btn-primary">
            </button>
          </a>
        </div>
        <div class="btn-group" role="group">
          <a  href="/cms/concept/">
            <button id="manage-concept" type="button" class="btn btn-primary">
            </button>
          </a>
        </div>
        <div class="btn-group" role="group">
          <a  href="/cms/paper/">
            <button id="manage-paper" type="button" class="btn btn-primary">
            </button>
          </a>
        </div>
        <div class="btn-group" role="group">
          <a  href="/cms/question/">
            <button id="manage-question" type="button" class="btn btn-primary">
            </button>
          </a>
        </div>
        <div class="btn-group" role="group">
          <a  href="/cms/formula/">
            <button id="manage-formula" type="button" class="btn btn-primary">
            </button>
          </a>
        </div>
        <div class="btn-group" role="group">
          <a  href="#">
            <button id="manage-quiz" type="button" class="btn btn-default">
            </button>
          </a>
        </div>
        <div class="btn-group" role="group">
          <a  href="#">
            <button id="manage-contest" type="button" class="btn btn-default">
            </button>
          </a>
        </div>
        <div class="btn-group" role="group">
          <a  href="/cms/user/">
            <button id="manage-user" type="button" class="btn btn-danger">
            </button>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      {% block content %}
        <div class="col-sm-2">
          {% block left_panel %}
          {% endblock left_panel %}
        </div>

        <div class="col-sm-8 main-area">
          <div class="row">
            <p id="main-title" class="display-section"> </p>
          </div>

          <hr>

          <div class="row">
            {% block breadcrumb %}
            {% endblock breadcrumb %}
          </div>

          <hr>

          <div class="row">
            {% block main_content %}{% endblock main_content %}
          </div>
        </div>

        <div class="col-sm-1"></div>
      {% endblock content %}
    </div>

  </body>
</html>
