{% load staticfiles %}
{% load fontawesome %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta charset = "utf-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">

    <title class="title"></title>
    <link rel="icon" href="{% static 'cms/img/meas_logo.png' %}" type="image/png">

    <!-- JQuery -->
    <script type = "text/javascript"
        src = "{% static 'js/jquery-3.1.1.min.js' %}">
    </script>

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}"
          rel="stylesheet"/>
    <link href="{% static 'css/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css' %}"
          rel="stylesheet"/>
    <script type = "text/javascript"
            src="{% static 'css/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}">
    </script>

    <!-- i18n -->
    <script type = "text/javascript"
            src="{% static 'js/i18n/en.js' %}">
    </script>

    {% fontawesome_stylesheet %}

    <link href="{% static 'cms/css/layout/base.css' %}"
          rel="stylesheet"/>

    <script type = "text/javascript"
            src="{% static 'cms/js/layout/base.js' %}">
    </script>
    <!-- Extend css and js -->
    {% block extended_head %}{% endblock extended_head %}
  </head>

  <body>
    <div class="row custom-header">
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <nav class="navbar bg-default navbar-left">
          <ul class="nav navbar-nav">
            <li>
              <a class="title-page"> </a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="col-sm-5">
        <nav class="navbar bg-default navbar-right">
          <ul class="nav navbar-nav">
            <li class="note">
              <a id="nav_applicaiton" href="#"> </a>
            </li>
            {% if is_authenticated %}
              <li>
                <a href="#">
                  <img class="img-responsive center-block"
                      src="{% static 'cms/img/user.png' %}"> {{ current_user }}
                </a>
              </li>
              <li>
                <a id="sign-out" href="/logout/">
                  <img class="img-responsive center-block"
                      src="{% static 'cms/img/sign_out.png' %}">
                </a>
              </li>
            {% endif %}
          </ul>
        </nav>
      </div>
      <div class="col-sm-1"></div>
    </div>

    <div class="row">
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <a  href="/cms/topic/">
            <button id="manage-topic" type="button" class="btn btn-danger">
            </button>
          </a>
        </div>
        <div class="btn-group" role="group">
          <a  href="/cms/concept/">
            <button id="manage-concept" type="button" class="btn btn-success">
            </button>
          </a>
        </div>
        <div class="btn-group" role="group">
          <a  href="/cms/question/">
            <button id="manage-question" type="button" class="btn btn-warning">
            </button>
          </a>
        </div>
        <div class="btn-group" role="group">
          <a  href="/cms/topic/">
            <button id="manage-tag" type="button" class="btn btn-info">
            </button>
          </a>
        </div>
        <div class="btn-group" role="group">
          <a  href="/cms/topic/">
            <button id="manage-quiz" type="button" class="btn btn-default">
            </button>
          </a>
        </div>
        <div class="btn-group" role="group">
          <a  href="/cms/topic/">
            <button id="manage-contest" type="button" class="btn btn-primary">
            </button>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      {% block content %}
        <div class="col-sm-2">
          {% block left_panel %}
          {% endblock left_panel %}
        </div>

        <div class="col-sm-8 main-area">
          <div class="row">
            <p id="main-title" class="display-section"> </p>
          </div>

          <hr>

          <div class="row">
            {% block breadcrumb %}
            {% endblock breadcrumb %}
          </div>

          <hr>

          <div class="row">
            {% block main_content %}{% endblock main_content %}
          </div>
        </div>

        <div class="col-sm-1"></div>
      {% endblock content %}
    </div>

  </body>
</html>
