{% load static %}
{% load fontawesome %}

<div class="nav-left">
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li class="nav-item">
      <a class="nav-link active btn-default" data-toggle="tab" href="#content" role="tab">
        {% fontawesome_icon 'navicon' large=True %}
        Content
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn-default" data-toggle="tab" href="#test" role="tab">
        {% fontawesome_icon 'graduation-cap' large=True %}
        Test
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn-default" data-toggle="tab" href="#user" role="tab">
        {% fontawesome_icon 'user' large=True %}
        User
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="content" role="tabpanel">
      <ul class="nav nav-pills nav-stacked">
        <li class="nav-component-li">
          <a class="nav-component-content" href="/cms/topic/" >
          {% fontawesome_icon 'folder' large=True %} &nbsp
          Topic
          </a>
        </li>

        <li class="nav-component-li">
          <a class="nav-component-content" href="/cms/concept/">
          {% fontawesome_icon 'archive' large=True %} &nbsp
          Concept
          </a>
        </li>

        <li class="nav-component-li">
          <a class="nav-component-content" href="#">
          {% fontawesome_icon 'tags' large=True %} &nbsp
          Tag
          </a>
        </li>
        <li class="nav-component-li">
          <a class="nav-component-content" href="/cms/paper/">
          {% fontawesome_icon 'book' large=True %} &nbsp
          Paper
          </a>
        </li>
        <li class="nav-component-li">
          <a class="nav-component-content" href="/cms/question/">
          {% fontawesome_icon 'question' large=True %} &nbsp &nbsp
          Question | Topic
          </a>
        </li>
        <li class="nav-component-li">
          <a class="nav-component-content" href="/cms/question_paper/">
          {% fontawesome_icon 'question' large=True %} &nbsp &nbsp
          Question | Paper
          </a>
        </li>
      </ul>
    </div>

    <div class="tab-pane" id="test" role="tabpanel">
      <ul class="nav nav-pills nav-stacked">
        <li class="nav-component-li">
          <a class="nav-component-content" href="#" >
          {% fontawesome_icon 'newspaper-o' large=True %} &nbsp
          Quiz
          </a>
        </li>

        <li class="nav-component-li">
          <a class="nav-component-content" href="#">
          {% fontawesome_icon 'trophy' large=True %} &nbsp
          Contest
          </a>
        </li>
      </ul>
    </div>
    <div class="tab-pane" id="user" role="tabpanel">
      <ul class="nav nav-pills nav-stacked">
        <li class="nav-component-li">
          <a class="nav-component-content" href="/cms/user/">
          {% fontawesome_icon 'user' large=True %} &nbsp
          Student
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<link href="{% static 'cms/css/layout/nav_left.css' %}"
      rel="stylesheet"/>
