<md-dialog aria-label="MathPreview">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Math Preview</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div id="formula_preview">
                    <katex auto-render bind=formulaData.latexStr>
                    </katex>
                    <div>
                        <pre>{{ formulaData.mathmlStr }}</pre>
                    </div>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button class="md-raised md-primary" ng-click="confirm()">
                ADD FORMULA
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>