.card {
    width: 80%;
}

.loginForm {
    width: 50%;
}

.latexPreview {
    padding-left: 5%;
}

.dialog-container {
    width: 50%;
}

#loading-bar .bar {
    position: relative;
}

.card-table {
    width: 95%;
}

div.md-errors-spacer {
    display: none;
}