{% extends 'cms/question/create.html' %}

{% load static %}
{% load fontawesome %}

{% block main_content %}
  <form action="" method="post">
    {% csrf_token %}
    {{ form.media }}
    <div class="row main-form">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <ul class="nav nav-stacked">
          <li class="custom-component" role="presentation">
            Mark (*) {{ form.mark }}
          </li>
          <li class="custom-component" role="presentation">
            Difficulty level (*) {{ form.difficulty_level }}
          </li>
          <li class="custom-component" role="presentation">
            Answer type (*) {{ form.respone_type }}
          </li>
          <li class="custom-component" role="presentation">Content (*)</li>
          <li class="custom-component" role="presentation">
            {{ form.content }}
          </li>
          <li class="custom-component" role="presentation">Solution (*)</li>
          <li class="custom-component" role="presentation">
            {{ form.solution }}
          </li>
          <li class="custom-component" role="presentation">
            <button type="submit" class="btn btn-danger">Save</button>
            <button type="submit" class="btn btn-success">Reset</button>
            <button type="submit" class="btn btn-warning">Cancel</button>
          </li>
        </ul>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </form>
{% endblock main_content %}
