{% extends 'cms/layout/base.html' %}

{% load static %}
{% load fontawesome %}

{% block extended_head %}
  <script type = "text/javascript"
          src="{% static 'cms/js/question/index.js' %}">
  </script>
  <script type = "text/javascript"
          src="{% static 'cms/js/question/ce.js' %}">
  </script>
  <link href="{% static 'cms/css/question/ce.css' %}"
        rel="stylesheet"/>
  <script>
    var Preview = {
      delay: 150,        // delay after keystroke before updating
      preview: null,     // filled in by Init below
      buffer: null,      // filled in by Init below
      timeout: null,     // store setTimout id
      mjRunning: false,  // true when MathJax is processing
      mjPending: false,  // true when a typeset has been queued
      oldText: null,     // used to check if an update is needed
      //
      //  Get the preview and buffer DIV's
      //
      Init: function () {
        this.preview = document.getElementById("MathPreview");
        this.buffer = document.getElementById("MathBuffer");
      },
      //
      //  Switch the buffer and preview, and display the right one.
      //  (We use visibility:hidden rather than display:none since
      //  the results of running MathJax are more accurate that way.)
      //
      SwapBuffers: function () {
        var buffer = this.preview, preview = this.buffer;
        this.buffer = buffer; this.preview = preview;
        buffer.style.visibility = "hidden"; buffer.style.position = "absolute";
        preview.style.position = ""; preview.style.visibility = "";
      },
      //
      //  This gets called when a key is pressed in the textarea.
      //  We check if there is already a pending update and clear it if so.
      //  Then set up an update to occur after a small delay (so if more keys
      //    are pressed, the update won't occur until after there has been
      //    a pause in the typing).
      //  The callback function is set up below, after the Preview object is set up.
      //
      Update: function () {
        if (this.timeout) {clearTimeout(this.timeout)}
        this.timeout = setTimeout(this.callback,this.delay);
      },
      //
      //  Creates the preview and runs MathJax on it.
      //  If MathJax is already trying to render the code, return
      //  If the text hasn't changed, return
      //  Otherwise, indicate that MathJax is running, and start the
      //    typesetting.  After it is done, call PreviewDone.
      //
      CreatePreview: function () {
        Preview.timeout = null;
        if (this.mjPending) return;
        var text = document.getElementById("id_content").value;
        if (text === this.oldtext) return;
        if (this.mjRunning) {
          this.mjPending = true;
          MathJax.Hub.Queue(["CreatePreview",this]);
        } else {
          this.buffer.innerHTML = this.oldtext = text;
          this.mjRunning = true;
          MathJax.Hub.Queue(
      ["Typeset",MathJax.Hub,this.buffer],
      ["PreviewDone",this]
          );
        }
      },
      //
      //  Indicate that MathJax is no longer running,
      //  and swap the buffers to show the results.
      //
      PreviewDone: function () {
        this.mjRunning = this.mjPending = false;
        this.SwapBuffers();
      }
    };
    //
    //  Cache a callback to the CreatePreview action
    //
    Preview.callback = MathJax.Callback(["CreatePreview",Preview]);
    Preview.callback.autoReset = true;  // make sure it can run more than once
  </script>
{% endblock %}

{% block breadcrumb %}
  <div>
    <ol class="breadcrumb custom-navbar-item">
      <li>
        <a id="breadcrumb-home" href="#">
          {% fontawesome_icon 'home' color='blue' %}
        </a>
      </li>
      <li class="active">
         {% fontawesome_icon 'bookmark' color='blue' %}
         Topic
      </li>
      <li class="active">
         {% fontawesome_icon 'file' color='blue' %}
         Concept
      </li>
      <li id="breadcrumb-question" class="active">
         {% fontawesome_icon 'question' color='blue' %}
      </li>
    </ol>
  </div>
{% endblock breadcrumb %}

{% block main_content %}
  <form action="/cms/api_update_question/" method="post">
    {% csrf_token %}
    {{ form.media }}
    <div class="row main-form">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <ul class="nav nav-stacked">
          <li class="custom-component" role="presentation">
            <ul class="nav nav-pills custom-inside">
              <li class="custom-component" role="presentation">
                {{form.id}}
              </li>
              <li role="presentation" class="pull-left">
                <b>Concept</b> <span class="custom-asterisk">(*)</span>
                <div class="styled-select slate">
                  {{ form.concept }}
                </div>
              </li>
              <li role="presentation" class="pull-right">
                <b>Key Point</b>
                <div class="styled-select slate">
                  {{ form.keypoint }}
                </div>
              </li>
            </ul>
          </li>

           <li class="custom-component" role="presentation">
            <ul class="nav nav-pills custom-inside">
              <li id="question_type" role="presentation" class="pull-left">
                <b>Question type</b> <span class="custom-asterisk">(*)</span>
                <div class="styled-select slate">
                  {{ form.question_type }}
                </div>
              </li>
              <li id="paper" role="presentation">
                <b>Paper</b> <span class="custom-asterisk">(*)</span>
                <div class="styled-select slate">
                  {{ form.paper }}
                </div>
              </li>
            </ul>
          </li>

          <li class="custom-component" role="presentation">
            <ul class="nav nav-pills custom-inside">
              <li role="presentation" class="pull-left">
                Question source <span class="custom-asterisk">(*)</span>
                <div class="styled-select slate">
                  {{ form.source }}
                </div>
              </li>
              <li role="presentation">
                 Used for <span class="custom-asterisk">(*)</span>
                <div class="styled-select slate">
                  {{ form.used_for }}
                </div>
              </li>
            </ul>
          </li>

          <li class="custom-component" role="presentation">
            <ul class="nav nav-pills custom-inside">
              <li role="presentation" class="pull-left">
                Mark <span class="custom-asterisk">(*)</span>
                <div class="styled-select slate">
                  {{ form.mark }}
                </div>
              </li>
              <li role="presentation" class="pull-right">
                Response type <span class="custom-asterisk">(*)</span>
                <div class="styled-select slate">
                  {{ form.respone_type }}
                </div>
              </li>
              <li role="presentation">
                Difficulty level <span class="custom-asterisk">(*)</span>
                <div class="styled-select slate">
                  {{ form.difficulty_level }}
                </div>
              </li>
            </ul>
          </li>

          <li class="custom-component" role="presentation">
            <ul class="nav nav-pills custom-inside">
              <li role="presentation" class="pull-left">
                <b>Content</b> <span class="custom-asterisk">(*)</span>
              </li>
              <li role="presentation">
                {{ form.content }}
              </li>
            </ul>
          </li>

          <li class="custom-component" role="presentation">
            <ul class="nav nav-pills custom-inside">
              <li role="presentation" class="pull-left">
                <b>Preview</b> <span class="custom-asterisk">(*)</span>
              </li>
              <li role="presentation" class="pull-left">
                <div id="MathPreview"></div>
                <div id="MathBuffer"></div>
                <script>
                  Preview.Init();
                </script>
              </li>
            </ul>
          </li>

          <li class="custom-component" role="presentation">
            <ul class="nav nav-pills custom-inside">
              <li role="presentation" class="pull-left">
                <b>Solution</b> <span class="custom-asterisk">(*)</span>
              </li>
              <li role="presentation" class="pull-left">
                {{ form.solution }}
              </li>
            </ul>
          </li>

          <li class="custom-component" role="presentation">
            <ul class="nav nav-pills custom-inside">
              <li role="presentation" class="pull-left">
                {% fontawesome_icon 'key' color='blue' %}
                <b>Answer</b> <span class="custom-asterisk">(*)</span>
              </li>
            </ul>
          </li>

          <li class="custom-component" role="presentation">
            <ul class="nav nav-pills custom-inside">
              <li role="presentation" class="pull-left">
                {{ form.answer }}
              </li>
            </ul>
          </li>

          <li class="custom-component" role="presentation">
            <ul class="nav nav-pills custom-inside">
              <li role="presentation">
                {{ formset.management_form }}
                {% for sform in formset %}
                  <div class="link-answer-formset">
                    <ul class="nav nav-pills">
                       <li>
                        {# {{sform.id}} #}
                      </li>
                      <li>
                        {{ sform.part_name }}
                        {% if sform.part_name.errors %}
                            {% for error in sform.part_name.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}
                      </li>

                      <li>
                        {{ sform.part_content }}
                        {% if sform.part_content.errors %}
                            {% for error in sform.part_content.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}
                      </li>

                      <li>
                        <div class="styled-select slate">
                          {{ sform.part_respone_type }}
                        </div>
                        {% if sform.part_respone_type.errors %}
                            {% for error in sform.part_respone_type.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}
                      </li>
                    </ul>

                    <ul class="nav nav-pills">
                      <li>
                        {{ sform.subpart_name_1 }}
                        {% if sform.subpart_name_1.errors %}
                            {% for error in sform.subpart_name_1.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}
                      </li>

                      <li>
                        {{ sform.subpart_content_1 }}
                        {% if sform.subpart_content_1.errors %}
                            {% for error in sform.subpart_content_1.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}
                      </li>

                      <li>
                        <div class="styled-select slate">
                          {{ sform.respone_type_1 }}
                        </div>
                        {% if sform.respone_type_1.errors %}
                            {% for error in sform.respone_type_1.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}
                      </li>
                    </ul>

                    <ul class="nav nav-pills">
                      <li>
                        {{ sform.subpart_name_2 }}
                        {% if sform.subpart_name_2.errors %}
                            {% for error in sform.subpart_name_2.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}
                      </li>

                      <li>
                        {{ sform.subpart_content_2 }}
                        {% if sform.subpart_content_2.errors %}
                            {% for error in sform.subpart_content_2.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}
                      </li>

                      <li>
                        <div class="styled-select slate">
                          {{ sform.respone_type_2 }}
                        </div>
                        {% if sform.respone_type_2.errors %}
                            {% for error in sform.respone_type_2.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}
                      </li>
                    </ul>

                    <ul class="nav nav-pills">
                      <li>
                        {{ sform.subpart_name_3 }}
                        {% if sform.subpart_name_3.errors %}
                            {% for error in sform.subpart_name_3.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}
                      </li>

                      <li>
                        {{ sform.subpart_content_3 }}
                        {% if sform.subpart_content_3.errors %}
                            {% for error in sform.subpart_content_3.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}
                      </li>

                      <li>
                        <div class="styled-select slate">
                          {{ sform.respone_type_3 }}
                        </div>
                        {% if sform.respone_type_3.errors %}
                            {% for error in sform.respone_type_3.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}
                      </li>
                    </ul>

                    <ul class="nav nav-pills">
                      <li>
                        {{ sform.subpart_name_4 }}
                        {% if sform.subpart_name_4.errors %}
                            {% for error in sform.subpart_name_4.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}
                      </li>

                      <li>
                        {{ sform.subpart_content_4 }}
                        {% if sform.subpart_content_4.errors %}
                            {% for error in sform.subpart_content_4.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}
                      </li>

                      <li>
                        <div class="styled-select slate">
                          {{ sform.respone_type_4 }}
                        </div>
                        {% if sform.respone_type_4.errors %}
                            {% for error in sform.respone_type_4.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}
                      </li>
                    </ul>

                  </div>
                {% endfor %}
                <hr>
              </li>
            </ul>
          </li>

          <li class="custom-component pull-right" role="presentation">
            <button type="submit" class="btn btn-info">Save</button>
            <button type="submit" class="btn btn-default">Cancel</button>
          </li>
        </ul>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </form>
{% endblock main_content %}
