{% extends 'cms/layout/base.html' %}

{% load static %}
{% load fontawesome %}

{% block extended_head %}
  <script type = "text/javascript"
          src="{% static 'cms/js/question/index.js' %}">
  </script>
  <script type = "text/javascript"
          src="{% static 'cms/js/question/ce.js' %}">
  </script>
  <link href="{% static 'cms/css/question/ce.css' %}"
        rel="stylesheet"/>
{% endblock %}

{% block breadcrumb %}
  <div>
    <ol class="breadcrumb custom-navbar-item">
      <li>
        <a id="breadcrumb-home" href="#">
          {% fontawesome_icon 'home' color='blue' %}
        </a>
      </li>
      <li class="active">
         {% fontawesome_icon 'bookmark' color='blue' %}
         Topic
      </li>
      <li class="active">
         {% fontawesome_icon 'file' color='blue' %}
         Concept
      </li>
      <li id="breadcrumb-question" class="active">
         {% fontawesome_icon 'question' color='blue' %}
      </li>
    </ol>
  </div>
{% endblock breadcrumb %}

{% block main_content %}
  <form action="/cms/api_update_question/" method="post">
    {% csrf_token %}
    {{ form.media }}
    <div class="row main-form">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <ul class="nav nav-stacked">
          <li class="custom-component" role="presentation">
            {{form.id}}
          </li>
          <li class="custom-component" role="presentation">
            <ul class="nav nav-pills custom-inside">
              <li role="presentation" class="pull-left">
                Concept <span class="custom-asterisk">(*)</span>
                {{ form.concept }}
              </li>
              <li role="presentation" class="pull-right">
                Key Point
                {{ form.keypoint }}
              </li>
            </ul>
          </li>


           <li class="custom-component" role="presentation">
            <ul class="nav nav-pills custom-inside">
              <li id="question_type" role="presentation" class="pull-left">
                Question type <span class="custom-asterisk">(*)</span>
                {{ form.question_type }}
              </li>
              <li id="paper" role="presentation" class="pull-right">
                Paper <span class="custom-asterisk">(*)</span>
                {{ form.paper }}
              </li>
            </ul>
          </li>

          <li class="custom-component" role="presentation">
            <ul class="nav nav-pills custom-inside">
              <li role="presentation" class="pull-left">
                Question source <span class="custom-asterisk">(*)</span>
                {{ form.source }}
              </li>
              <li role="presentation" class="pull-right">
                Used for <span class="custom-asterisk">(*)</span>
                {{ form.used_for }}
              </li>
            </ul>
          </li>

          <li class="custom-component" role="presentation">
            <ul class="nav nav-pills custom-inside">
              <li id="number_parts" role="presentation" class="pull-left">
                Number of parts <span class="custom-asterisk">(*)</span>
                {{ form.number_of_part }}
              </li>
              <li role="presentation" class="pull-right">
                Response type <span class="custom-asterisk">(*)</span>
                {{ form.respone_type }}
              </li>
            </ul>
          </li>

          <li role="presentation">
            <div class="btn-group" role="group" aria-label="...">
              <button id="cpart1" data-toggle="collapse" data-target="#part1" type="button" class="btn btn-warning">Part 1</button>
              <button id="cpart2" data-toggle="collapse" data-target="#part2" type="button" class="btn btn-success">Part 2</button>
              <button id="cpart3" data-toggle="collapse" data-target="#part3" type="button" class="btn btn-primary">Part 3</button>
              <button id="cpart4" data-toggle="collapse" data-target="#part4" type="button" class="btn btn-danger">Part 4</button>
            </div>
          </li>

          <li class="custom-component" role="presentation">
            <div id="part1" class="collapse part-form">
              <ul class="nav nav-stacked">
                <li class="custom-component" role="presentation">
                  {{form.id_1}}
                </li>
                <li class="custom-component" role="presentation">
                  Mark 1 (*) {{ form.mark_1 }}
                </li>
                <li class="custom-component" role="presentation">
                  Difficulty level 1 (*) {{ form.difficulty_level_1 }}
                </li>
                <li class="custom-component" role="presentation">
                  Response type 1 (*) {{ form.respone_type_1 }}
                </li>
                <li class="custom-component" role="presentation">
                  Content 1 (*) {{ form.content_1 }}
                </li>
                <li class="custom-component" role="presentation">
                  Solution 1 (*) {{ form.solution_1 }}
                </li>
              </ul>
            </div>

            <div id="part2" class="collapse part-form">
              <ul class="nav nav-stacked">
                 <li class="custom-component" role="presentation">
                  {{form.id_2}}
                </li>
                <li class="custom-component" role="presentation">
                  Mark 2 (*) {{ form.mark_2 }}
                </li>
                <li class="custom-component" role="presentation">
                  Difficulty level 2 (*) {{ form.difficulty_level_2 }}
                </li>
                <li class="custom-component" role="presentation">
                  Response type 2 (*) {{ form.respone_type_2 }}
                </li>
                <li class="custom-component" role="presentation">
                  Content 2 (*) {{ form.content_2 }}
                </li>
                <li class="custom-component" role="presentation">
                  Solution 2 (*) {{ form.solution_2 }}
                </li>
              </ul>
            </div>

            <div id="part3" class="collapse part-form">
              <ul class="nav nav-stacked">
                <li class="custom-component" role="presentation">
                  {{form.id_3}}
                </li>
                <li class="custom-component" role="presentation">
                  Mark 3(*) {{ form.mark_3 }}
                </li>
                <li class="custom-component" role="presentation">
                  Difficulty level 3(*) {{ form.difficulty_level_3 }}
                </li>
                <li class="custom-component" role="presentation">
                  Response type 3 (*) {{ form.respone_type_3 }}
                </li>
                <li class="custom-component" role="presentation">
                  Content 3 (*) {{ form.content_3 }}
                </li>
                <li class="custom-component" role="presentation">
                  Solution 3 (*) {{ form.solution_3 }}
                </li>
              </ul>
            </div>

            <div id="part4" class="collapse part-form">
              <ul class="nav nav-stacked">
                <li class="custom-component" role="presentation">
                  {{form.id_4}}
                </li>
                <li class="custom-component" role="presentation">
                  Mark 4 (*) {{ form.mark_4 }}
                </li>
                <li class="custom-component" role="presentation">
                  Difficulty level 4 (*) {{ form.difficulty_level_4 }}
                </li>
                <li class="custom-component" role="presentation">
                  Response type 4 (*) {{ form.respone_type_4 }}
                </li>
                <li class="custom-component" role="presentation">
                  Content 4 (*) {{ form.content_4 }}
                </li>
                <li class="custom-component" role="presentation">
                  Solution 4 (*) {{ form.solution_4 }}
                </li>
              </ul>
            </div>

          </li>

          <li class="custom-component" role="presentation">
            <ul class="nav nav-pills custom-inside">
              <li role="presentation" class="pull-left">
                Mark <span class="custom-asterisk">(*)</span>
                {{ form.mark }}
              </li>
              <li role="presentation" class="pull-right">
                Difficulty level <span class="custom-asterisk">(*)</span>
                {{ form.difficulty_level }}
              </li>
            </ul>
          </li>

          <li class="custom-component" role="presentation">
            <ul class="nav nav-pills custom-inside">
              <li role="presentation" class="pull-left">
                Content <span class="custom-asterisk">(*)</span>
              </li>
              <li role="presentation" class="pull-right">
                {{ form.content }}
              </li>
            </ul>
          </li>

          <li class="custom-component" role="presentation">
            <ul class="nav nav-pills custom-inside">
              <li role="presentation" class="pull-left">
                Solution <span class="custom-asterisk">(*)</span>
              </li>
              <li role="presentation" class="pull-right">
                {{ form.solution }}
              </li>
            </ul>
          </li>
          <li class="custom-component pull-right" role="presentation">
            <button type="submit" class="btn btn-danger">Save</button>
            <button type="submit" class="btn btn-success">Reset</button>
            <button type="submit" class="btn btn-warning">Cancel</button>
          </li>
        </ul>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </form>
{% endblock main_content %}
