{% extends 'cms/layout/base.html' %}

{% load static %}
{% load fontawesome %}

{% block extended_head %}
  <link href="{% static 'cms/css/question/index.css' %}"
        rel="stylesheet"/>
  <script type = "text/javascript"
          src="{% static 'cms/js/question/index.js' %}">
  </script>

  <script type = "text/javascript"
          src="{% static 'ckeditor/ckeditor.js' %}">
  </script>

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>
{% endblock %}

{% block breadcrumb %}
  <ul class="breadcrumb">
    <li>
      {% fontawesome_icon 'home' color='grey' %}
    </li>
    <li class="active">
      {% fontawesome_icon 'question' color='grey' %}
      Question
    </li>
  </ul>
{% endblock breadcrumb %}

{% block main_title %}
  <p class="display-section">Question | Topic</p>
{% endblock main_title %}

{% block main_content %}
  <ul class="list-inline">
    {% for topic in topics %}
      <li>
      <div class="topic-box">
        <p class="topic-title">
          {{topic.name}}
          <a class="btn btn-success pull-right view-all"
            href="/cms/question_topic_detail/{{topic.id}}">
            View all
          </a>
        </p>

        {% for concept in topic.concept_set.all|slice:":3"%}
        <ul>
          <li class="concept-display">
            {{ concept.name }}
          </li>
        </ul>
        {% endfor %}
      </div>
      </li>
    {% endfor %}
  </ul>
{% endblock main_content %}
