{% extends 'cms/layout/base.html' %}

{% load static %}
{% load fontawesome %}

{% block extended_head %}
  <script type = "text/javascript"
          src="{% static 'cms/js/question/index.js' %}">
  </script>
{% endblock %}

{% block breadcrumb %}
  <div>
    <ol class="breadcrumb custom-navbar-item">
      <li>
        <a id="breadcrumb-home" href="#">
          {% fontawesome_icon 'home' color='blue' %}
        </a>
      </li>
      <li id="breadcrumb-question" class="active">
         {% fontawesome_icon 'question' color='blue' %}
      </li>
    </ol>
  </div>
{% endblock breadcrumb %}

{% block main_content %}

{% endblock main_content %}
