{% extends 'cms/layout/base.html' %}

{% load static %}
{% load fontawesome %}

{% block extended_head %}
  <link href="{% static 'cms/css/question/index.css' %}"
        rel="stylesheet"/>
  <script type = "text/javascript"
          src="{% static 'cms/js/question/index.js' %}">
  </script>

  <script type = "text/javascript"
          src="{% static 'ckeditor/ckeditor.js' %}">
  </script>

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>

  <script type="text/javascript">
      function activateMathquill() {
          var dirty_span_list = document.getElementsByTagName("span");
		  var span_list = [];
		  //Get the ID of all answer box span
		  for (var i = 0; i < dirty_span_list.length; i++) {
			  var span_id = dirty_span_list[i].id;
			  var position = span_id.indexOf("answer");
			  if (position != -1) {
				  span_list.push(span_id);
			  }
		  }
		  no_span = span_list.length;
		  for (var i = 0; i < no_span; i++) {
              span_details = span_list[i].split("-");
              //Remove the keyword 'answer' from the list
              span_details = span_details.slice(1);
              activateMathquillSpan(span_details[0], span_details[1], span_details[2]);
          }
      }

      function activateMathquillSpan(answerpart_id, subpart_no, i) {
          source_id = 'answer-' + answerpart_id + "-" + subpart_no + "-" + i;
	      target_id = 'hidden_answer-' + answerpart_id + "-" + subpart_no + "-" + i;
		  var mathFieldSpan = document.getElementById(source_id);
		  var latexSpan = document.getElementById(target_id);
		  var MQ = MathQuill.getInterface(2); // for backcompat
		  var mathField = MQ.MathField(mathFieldSpan, {
		      spaceBehavesLikeTab: true, // configurable
                  handlers: {
		            edit: function() { // useful event handler
                    latexSpan.value = mathField.latex(); // simple API
                  }
		      }
		  });
      }

      $(document).ready(function() {
		  activateMathquill();
	  });

      function check_answer(id, subpart_no, has_part) {
          var answer = {};
          if (has_part === false) {
              var answer_component_list = document.getElementsByName("answer-" + id + "-" + "q");
              var answer_list = [];
              for (var i = 0; i < answer_component_list.length; i++) {
                  answer_list.push(answer_component_list[i].value);
              }
              answer_list = answer_list.join("|");
              answer['type'] = 'q';
              answer['id'] = id;
              answer['answer'] = answer_list;
          } else {
              var answer_component_list = document.getElementsByName("answer-" + id + "-" + subpart_no);
              var answer_list = [];

              for (var i = 0; i < answer_component_list.length; i++) {
                  answer_list.push(answer_component_list[i].value);
              }
              answer_list = answer_list.join("|");
              answer['type'] = 'a';
              answer['id'] = id;
              answer['subpart_no'] = subpart_no;
              answer['answer'] = answer_list;
          }

          var csrftoken = $.cookie('csrftoken');

          function csrfSafeMethod(method) {
              // these HTTP methods do not require CSRF protection
              return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		  }

		  $.ajaxSetup({
		      beforeSend: function(xhr, settings) {
		          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
		              xhr.setRequestHeader("X-CSRFToken", csrftoken);
			      }
		      }
          });

          $.ajax('/api/check_answer/', {
			  type : 'POST',
			  contentType : 'application/json',
			  data : JSON.stringify(answer),
			  success: function(data) {
				  var JSONresult = JSON.parse(JSON.stringify(data));
				  var type = JSONresult['type'];
				  var id = JSONresult['id'];
                  var subpart_no = JSONresult['subpart_no'];
				  var result = JSONresult['result'];
				  if (type === 'q') {
				    display_answer_result(id, subpart_no, result, false);
                  } else {
				    display_answer_result(id, subpart_no, result);
                  }

			  },
			  error: function(data, status, error) {
			  }
		 });

      }

      function reset_answer_result(id, subpart_no, has_part) {
          if (has_part === false) {
              var answer_result_component = document.getElementById("answer_result-q-" + id);
              answer_result_component.innerHTML = "";
          } else {
              var answer_result_component = document.getElementById("answer_result-" + id + "-" + subpart_no);
              answer_result_component.innerHTML = "";
          }

         }

      function display_answer_result(id, subpart_no, result, has_part) {
          reset_answer_result(id, subpart_no, has_part);
          if (has_part === false) {
              var answer_result_component = document.getElementById("answer_result-q-" + id);
              answer_result_component.innerHTML = result;
          } else {
              var answer_result_component = document.getElementById("answer_result-" + id + "-" + subpart_no);
              answer_result_component.innerHTML = result;
          }

      }

  </script>
{% endblock %}

{% block breadcrumb %}
  <ul class="breadcrumb">
    <li>
      {% fontawesome_icon 'home' color='grey' %}
    </li>
    <li class="active">
      {% fontawesome_icon 'question' color='grey' %}
      Question
    </li>
  </ul>
{% endblock breadcrumb %}

{% block main_title %}
  <p class="display-section">Question</p>
{% endblock main_title %}

{% block main_content %}
    <button type="button" class="btn btn-success new-button">
      Add new Question
    </button>
  </a>

  <div class="row">
    <table id="items" class="display" width="100%" cellspacing="0">
      <thead class="custom-header">
        <tr>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for question in questions %}
          <tr>
            <td>
              <div class="modal fade" id="form-modal_{{ question.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">Try Question {{ forloop.counter }}
                      </h4>
                    </div>
                    <div id="form-modal-body" class="modal-body">
                      {{ question.content | safe }}
                      </br>
                      <hr>
                      Answer
                        </br>
                        {% if question.answer != " " %}
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                 {{ question.answer | safe }}
                                 <input type="button" value="Check" onclick="check_answer({{ question.id }}, -1, false)" >
                                 <span id="answer_result-q-{{ question.id }}" ></span>
                              </div>
                            </div>
                        {% else %}
                            {% for answerpart in question.answer_parts %}
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                ( {{ answerpart.part_name }} )
                                 {{ answerpart.part_content | safe }}
                                 <input type="button" value="Check" onclick="check_answer({{ answerpart.id }}, 0)" >
                                 <span id="answer_result-{{ answerpart.id }}-0" ></span>
                              </div>
                              <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked">
                                  <li>
                                    {% if answerpart.subpart_name_1 == "i" %}
                                      ( {{ answerpart.subpart_name_1 }} )
                                        {{ answerpart.subpart_content_1 | safe }}
                                      <input type="button" value="Check" onclick="check_answer({{ answerpart.id }}, 1)" >
                                      <span id="answer_result-{{ answerpart.id }}-1" ></span>
                                    {% endif %}
                                  </li>
                                  <li>
                                    {% if answerpart.subpart_name_2 == "ii" %}
                                      ( {{ answerpart.subpart_name_2 }} )
                                        {{ answerpart.subpart_content_2 | safe }}
                                      <input type="button" value="Check" onclick="check_answer({{ answerpart.id }}, 2)" >
                                      <span id="answer_result-{{ answerpart.id }}-2" ></span>
                                    {% endif %}
                                  </li>
                                  <li>
                                    {% if answerpart.subpart_name_3 == "iii" %}
                                      ( {{ answerpart.subpart_name_3 }} )
                                        {{ answerpart.subpart_content_3 | safe }}
                                      <input type="button" value="Check" onclick="check_answer({{ answerpart.id }}, 3)" >
                                      <span id="answer_result-{{ answerpart.id }}-3" ></span>
                                    {% endif %}
                                  </li>
                                  <li>
                                    {% if answerpart.subpart_name_4 == "iv" %}
                                      ( {{ answerpart.subpart_name_4 }} )
                                        {{ answerpart.subpart_content_4 | safe }}
                                      <input type="button" value="Check" onclick="check_answer({{ answerpart.id }}, 4)" >
                                      <span id="answer_result-{{ answerpart.id }}-4" ></span>
                                    {% endif %}
                                  </li>
                                </ul>
                              </div>
                            </div>
                          {% endfor %}
                        {%  endif %}
                   </div>
                   <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                   </div>
                 </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-10 pull-left">
                  <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" class = "question-title">
                      Question {{ forloop.counter }}
                      <span class = "difficulty-level-display">
                        {% for c in question.get_difficulty_level %}
                          {% fontawesome_icon 'star' color='#b38600' %}
                        {% endfor %}
                      </span>
                    </li>
                    <li role="presentation" class="question-concept">
                      {{ question.concept.name }}
                    </li>
                  </ul>
                </div>
                <div class="col-md-2 pull-right">
                  <div class="btn-group" role="group" aria-label="...">
                    <a class="btn btn-success" data-toggle="modal" data-target="#form-modal_{{question.id}}">
                      {% fontawesome_icon 'hand-o-up' color='white' %}
                    </a>
                    <a href="/cms/edit_question/{{ question.id }}"
                      class="btn btn-warning">
                      {% fontawesome_icon 'edit' color='white' %}
                    </a>
                    <a href="/cms/delete_question/{{ question.id }}"
                      class="btn btn-danger">
                      {% fontawesome_icon 'trash' color='white' %}
                    </a>
                  </div>
                </div>
              </div>
              <div class="row question-content">
                <hr>
                {{ question.content | safe }}
                </br>
              </div>
              <div class="row question-formula-content">
                <ul class="list-inline">
                  {% for formula in question.formulas.all %}
                    <li class="formula">
                      <p class="formula-content">{{ formula.name }}</p>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock main_content %}
