{% extends 'cms/layout/base.html' %}

{% load static %}
{% load fontawesome %}

{% block extended_head %}
  <link href="{% static 'cms/css/question/index.css' %}"
        rel="stylesheet"/>
  <script type = "text/javascript"
          src="{% static 'cms/js/question/index.js' %}">
  </script>

  <script type = "text/javascript"
          src="{% static 'ckeditor/ckeditor.js' %}">
  </script>

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>
{% endblock %}

{% block breadcrumb %}
  <ul class="breadcrumb">
    <li>
      {% fontawesome_icon 'home' color='grey' %}
    </li>
    <li class="active">
      {% fontawesome_icon 'question' color='grey' %}
      Question
    </li>
  </ul>
{% endblock breadcrumb %}

{% block main_title %}
  <p class="display-section">Question</p>
{% endblock main_title %}

{% block main_content %}
  <a href="/cms/create_question">
    <button type="button" class="btn btn-success new-button">
      Add new Question
    </button>
  </a>

  <div class="row">
    <table id="items" class="display" width="100%" cellspacing="0">
      <thead class="custom-header">
        <tr>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for question in questions %}
          <tr>
            <td>
              <div class="modal fade" id="form-modal_{{ question.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">Try Question {{ forloop.counter }}
                      </h4>
                    </div>
                    <div id="form-modal-body" class="modal-body">
                      {{ question.content | safe }}
                      </br>
                      <hr>
                      Answer </br>
                      {% for answerpart in question.answerpart_set.all %}
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            ( {{ answerpart.part_name }} )
                             {{ answerpart.part_content }}
                          </div>
                          <div class="panel-body">
                            <div class="rows">
                              <div class="col-sm-1"></div>
                              <div class="col-sm-1">
                                {{ answerpart.subpart_name_1 }}. &nbsp
                                {{ answerpart.subpart_name_2 }}. &nbsp
                                {{ answerpart.subpart_name_3 }}. &nbsp
                                {{ answerpart.subpart_name_4 }}. &nbsp
                              </div>
                              <div class="col-sm-4">
                                <input class="input-box"></input>
                                <input class="input-box"></input>
                                <input class="input-box"></input>
                                <input class="input-box"></input>
                              </div>
                              <div class="col-sm-2">
                                <a type="button" class="btn btn-default">
                                  Check
                                </a>
                                <a type="button" class="btn btn-default">
                                  Check
                                </a>
                                <a type="button" class="btn btn-default">
                                  Check
                                </a>
                                <a type="button" class="btn btn-default">
                                  Check
                                </a>
                              </div>
                              <div class="col-sm-4"></div>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                   </div>
                   <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                   </div>
                 </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-10 pull-left">
                  <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" class = "question-title">
                      Question {{ forloop.counter }}
                      <span class = "difficulty-level-display">
                        {% for c in question.get_difficulty_level %}
                          {% fontawesome_icon 'star' color='#b38600' %}
                        {% endfor %}
                      </span>
                    </li>
                    <li role="presentation" class="question-concept">
                      {{ question.concept.name }}
                    </li>
                  </ul>
                </div>
                <div class="col-md-2 pull-right">
                  <div class="btn-group" role="group" aria-label="...">
                    <a class="btn btn-success" data-toggle="modal" data-target="#form-modal_{{question.id}}">
                      {% fontawesome_icon 'hand-o-up' color='white' %}
                    </a>
                    <a href="/cms/edit_question/{{ question.id }}"
                      class="btn btn-warning">
                      {% fontawesome_icon 'edit' color='white' %}
                    </a>
                    <a href="/cms/delete_question/{{ question.id }}"
                      class="btn btn-danger">
                      {% fontawesome_icon 'trash' color='white' %}
                    </a>
                  </div>
                </div>
              </div>
              <div class="row question-content">
                <hr>
                {{ question.content | safe }}
                </br>
              </div>
              <div class="row question-formula-content">
                <ul class="list-inline">
                  {% for formula in question.formulas.all %}
                    <li class="formula">
                      <p class="formula-content">{{ formula.name }}</p>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock main_content %}
