{# {% extends 'webapp/topic/index.html' %}

{% load fontawesome %}

{% block breadcrumb %}
  <div id="w3m">
    <ol class="breadcrumb custom-navbar-item">
      <li>
        <a href="#">
          {% fontawesome_icon 'home' color='blue' %} Home
        </a>
      </li>
      <li>
        <a href="#">
          {% fontawesome_icon 'bookmark' color='blue' %} Topic
        </a>
      </li>
      <li class="active">
         {% fontawesome_icon 'file' color='blue' %} Concept
      </li>
    </ol>
  </div>
{% endblock breadcrumb %}
 #}
