{% extends 'webapp/layout/base.html' %}

{% load static %}
{% load fontawesome %}

{% block extended_head %}
  <link href="{% static 'webapp/css/topic/index.css' %}"
        rel="stylesheet"/>
{% endblock %}

{% block breadcrumb %}
  <div id="w3m">
    <ol class="breadcrumb custom-navbar-item">
      <li>
        <a href="#">
          {% fontawesome_icon 'home' color='blue' %} Home
        </a>
      </li>
      <li class="active">
         {% fontawesome_icon 'bookmark' color='blue' %} Topic
      </li>
    </ol>
  </div>
{% endblock breadcrumb %}

{% block content %}
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <ul class="nav nav-stacked custom-nav-stacked">
        <li class="main-section">Topics</li>
        {% for topic in topics %}
          <li role="presentation">
            {% if topic.name == current_topic.name %}
              <a href="/topic/{{ topic.id }}/"
                class="custom-active dropdown-toggle"
                data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">
                {% fontawesome_icon 'folder-open' color='black' %} {{ topic.name }}
                <span class="caret"></span>
               </a>

              <ul class="dropdown-menu">
                {% for concept in concepts %}
                  <li>
                    <a href="/topic/{{ topic.id }}/concept/{{ concept.id }}/">
                      {{concept.name}}
                    </a>
                  </li>
                {% endfor %}
              </ul>

            {% else%}
              <a href="/topic/{{ topic.id }}/">
                {% fontawesome_icon 'folder-open' color='black' %} {{ topic.name }}
              </a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-md-6 custom-center-area">
      <ul class="nav nav-pills pull-right" role="tablist">
        <li role="presentation">
          <a href="#">Key points
            <span class="badge">
              {{ keypoints.count }}
            </span>
          </a>
        </li>
        <li role="presentation"><a href="#">Questions <span class="badge">3</span></a></li>
      </ul>

      <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <p class="display-section">
                  {{ current_concept.name }}
                </p>
              </a>
            </h5>
          </div>

          <div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="headingOne">
            {% for keypoint in keypoints %}
              <div class="panel panel-primary">
                <div class="panel-heading">{{ keypoint.name }}</div>
                <div class="panel-body">
                  <p>{{ keypoint.content }}</p>
                </div>
              </div>

              <div class="panel panel-danger">
                <div class="panel-heading">Question 1</div>
                <div class="panel-body">
                  <p>...</p>
                </div>
                <div class="panel-footer">
                  <button type="button" class="btn btn-success">
                    Hint
                  </button>
                  <button type="button" class="btn btn-danger">
                    Submit
                  </button>
                </div>
              </div>

              <hr class="custom-hr">
            {% endfor %}
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <p class="display-section">
                  Hints
                </p>
              </a>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <blockquote class="custom-blockquote">
              <p class="blockquote-title">
                Tip 1
              </p>
              <br/>
              <p class="blockquote-text">
              CAT Tests are generated dynamically based on responses that a user gives on previous questions.
              </p>
            </blockquote>

            <blockquote class="custom-blockquote">
              <p class="blockquote-title">
                Tip 2
              </p>
              <br/>
              <p class="blockquote-text">
              CAT Tests are generated dynamically based on responses that a user gives on previous questions.
              </p>
            </blockquote>
          </div>
        </div>

        <hr class="custom-hr">

      </div>
    </div>
  </div>

  <div class="col-md-2">

  </div>

  </div>
{% endblock content %}
