{% extends 'webapp/layout/base.html' %}

{% load static %}
{% load fontawesome %}

{% block extended_head %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.12/datatables.min.css"/>

  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.12/datatables.min.js"></script>

  <link href="{% static 'webapp/css/topic/index.css' %}"
        rel="stylesheet"/>

   <script type="text/javascript"
            src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_HTMLorMML">
  </script>

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      showProcessingMessages: false,
      tex2jax: { inlineMath: [['$','$'],['\\(','\\)']] }
    });
  </script>

  <link href="{% static 'webapp/css/topic/index.css' %}"
        rel="stylesheet"/>
   <script type = "text/javascript"
          src="{% static 'webapp/js/topic/index.js' %}">
  </script>

{% endblock %}

{% block breadcrumb %}
  <div id="w3m">
    <ol class="breadcrumb custom-navbar-item">
      <li>
        <a href="#">
          {% fontawesome_icon 'home' color='blue' %} Home
        </a>
      </li>
      <li class="active">
         {% fontawesome_icon 'bookmark' color='blue' %} Topic
      </li>
    </ol>
  </div>
{% endblock breadcrumb %}

{% block content %}
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <ul class="nav nav-stacked custom-nav-stacked">
        <li class="main-section">Topics</li>
        {% for topic in topics %}
          <li role="presentation">
            {% if topic.name == current_topic.name %}
              <a href="/topic/{{ topic.id }}/"
                class="custom-active dropdown-toggle"
                data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">
                {% fontawesome_icon 'folder-open' color='black' %} {{ topic.name }}
                <span class="caret"></span>
               </a>

              <ul class="dropdown-menu">
                <li><a href="#">Concepts</a></li>
                <li role="separator" class="divider"></li>
                {% for concept in concepts %}
                  <li>
                    <a href="/topic/{{ topic.id }}/concept/{{ concept.id }}/">
                      {{concept.name}}
                    </a>
                  </li>
                {% endfor %}
              </ul>

            {% else%}
              <a href="/topic/{{ topic.id }}/">
                {% fontawesome_icon 'folder-open' color='black' %} {{ topic.name }}
              </a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-md-6 custom-center-area">
      <ul class="nav nav-pills pull-right" role="tablist">
        <li role="presentation">
          <a href="#">Key points
            <span class="badge">
              {{ keypoints.count }}
            </span>
          </a>
        </li>
      </ul>

      <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <p class="display-section">
                  {{ current_concept.name }}
                </p>
              </a>
            </h5>
          </div>

          <div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="headingOne">
            {% for keypoint in keypoints %}
              <div class="panel panel-primary">
                <div class="panel-heading">{{ keypoint.name }}</div>
                <div class="panel-body">
                  <p>{{ keypoint.content }}</p>
                  {% for question in keypoint.question_set.all %}
                    <div class="panel panel-danger">
                      <div class="panel-heading">Example</div>
                      <div class="panel-body">
                        {{ question.content | safe }}
                      </div>
                      <div class="panel-footer">
                        <button type="button" class="btn btn-success">
                          Hint
                        </button>
                        <button type="button" class="btn btn-danger">
                          Submit
                        </button>
                      </div>
                    </div>
                  {% endfor %}
                  <hr class="custom-hr">
                </div>
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <p class="display-section">
                  Practice Questions
                </p>
              </a>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <table id="items" class="display" width="100%" cellspacing="0">
              <thead class="custom-header">
                <tr>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for question in questions %}
                  <tr>
                    <td>
                      <div class="row">
                        <div class="col-sm-8 pull-left">
                          <ul class="nav nav-pills nav-stacked">
                            <li role="presentation" class = "question-title">
                              Question {{ forloop.counter }}
                            </li>
                            <li role="presentation" class = "difficulty-level-display">
                              <span>
                                {% for c in question.get_difficulty_level %}
                                  {% fontawesome_icon 'star' color='#b38600' %}
                                {% endfor %}
                              </span>
                            </li>
                          </ul>
                        </div>
                        <div class="col-sm-4 pull-right">
                          <div class="btn-group" role="group" aria-label="...">
                            <a href="">
                              <button type="button" class="btn btn-success">
                                Test
                              </button>
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="row question-content">
                        <hr>
                        {{ question.content | safe }}
                         </br>
                        {% for part in question.part_set.all %}
                          {{ part.content | safe}}
                        {% endfor %}
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <hr class="custom-hr">

      </div>
    </div>
  </div>

  <div class="col-md-2">

  </div>

  </div>
{% endblock content %}
