{% extends 'webapp/layout/base.html' %}

{% load static %}
{% load fontawesome %}

{% block extended_head %}
  <link href="{% static 'webapp/css/adaptive_test/index.css' %}"
        rel="stylesheet"/>
{% endblock %}

{% block breadcrumb %}
  <div id="w3m">
    <ol class="breadcrumb custom-navbar-item">
      <li>
        <a href="#">
          {% fontawesome_icon 'home' color='blue' %} Home
        </a>
      </li>
      <li class="active">
         {% fontawesome_icon 'dashboard' color='blue' %} Adaptive Test
      </li>
    </ol>
  </div>
{% endblock breadcrumb %}

{% block content %}
  <div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-5">
      <blockquote class="custom-blockquote">
        <p class="blockquote-title">
          Pick a topic and begin a CAT test to know your ability score!
        </p>
        <br/>
        <p class="blockquote-text">
        CAT Tests are generated dynamically based on responses that a user gives on previous questions.
        </p>
      </blockquote>
    </div>

    <div class="col-md-3">
      <div class="dropdown control-panel">
        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Select Topic
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">Quadratic Equations & inequalities</a></li>
          <li><a href="#">Indices, Surds, Exponential, Logarithms</a></li>
          <li><a href="#">Polynomials and Partial Fractions</a></li>
          <li><a href="#">Simultaneous Equations</a></li>
          <li><a href="#">Binomial Function</a></li>
          <li><a href="#">Modulus Function</a></li>
          <li><a href="#">Coordinate Geometry</a></li>
          <li><a href="#">Plane Geometry</a></li>
          <li><a href="#">Trigonometry</a></li>
          <li><a href="#">Differentiation</a></li>
          <li><a href="#">Integration & Definite Integrals</a></li>
          <li><a href="#">Kinematics</a></li>
        </ul>
      </div>
      <ul class="nav nav-pills control-panel" role="tablist">
        <li class="btn-default" role="presentation"><a href="#">Completed <span class="badge">5/10</span></a></li>

        <li class="btn-default" role="presentation"><a href="#">Right <span class="badge">3</span></a></li>

        <li class="btn-default" role="presentation"><a href="#">Wrong <span class="badge">2</span></a></li>
      </ul>
    </div>

    <div class="col-md-2"></div>

  </div>

  <div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8">
      <hr class="custom-hr">
    </div>

    <div class="col-md-2"></div>
  </div>

  <div class="row main-content">
    <div class="col-md-2"></div>

    <div class="col-md-5">
      <div class="panel panel-danger">
        <div class="panel-heading">Question 1</div>
        <div class="panel-body">
          <p>...</p>
        </div>
        <div class="panel-footer">
          <button type="button" class="btn btn-success">
            Hint
          </button>
          <button type="button" class="btn btn-danger">
            Submit
          </button>
        </div>
      </div>

    </div>

    <div class="col-md-3 mathquill-area">
      <p class="display-section">MathQuill Hints</p>
    </div>

    <div class="col-md-2"></div>
  </div>
{% endblock content %}
