.custom-navbar-item{
    color: white !important;
    background: transparent !important;
}

.custom-thumbnail {
    border: none !important;
    box-shadow: none !important;
    background: transparent !important;
}

.mathematics {
  padding-top: 81px;
  background-color: #00cc99 !important;
}

.search {
  padding-top: 34px;
  padding-bottom: 34px;
  background: #d9d9d9;
}

.custom-footer {
  background-color: #337AB7 !important;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}

.main-area {
  background: #e6e6e6;
}

.custom-footer-hr {
  border-color: #ffad33;
}

.custom-nav-search li {
  margin-top: 20px;
  font-size: 27px;
  font-family: Palatino, 'Palatino Linotype',  'Palatino LT STD', 'Book Antiqua', Georgia, serif;
}

.title-row {
  font-size: 27px;
  font-family: Palatino, 'Palatino Linotype',  'Palatino LT STD', 'Book Antiqua', Georgia, serif;
}
.custom-hr {
  border-color: #b3b3b3;
}

.custom-breadcum {
  background: #d9d9d9;
}
